body {
    background-image: url('images/happy.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-pattern {
    background-image: url('images/pattern.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 600px;
}

.bg-welcome {
    background-color: rgba(#003057, 0.95);
}
