[data-component="box"] {
    @apply rounded;
    @apply shadow;
}

[data-component="box__body"] {
    @apply p-8;

    ul {
        padding-left: 20px;
    }
}

[data-component="box__heading"] {
    @apply font-bold;
    @apply flex;
    @apply items-center;
    @apply px-8;
    @apply py-6;
    @apply rounded-t;
    @apply text-white;
    @apply uppercase;

    svg {
        @apply h-10;
        @apply fill-current;
        @apply mr-4;
        @apply w-10;
    }
}

[data-component="box__link"] {
    @apply text-grey-darker;
    @apply flex;
    @apply items-center;
    @apply justify-between;
    @apply mb-2;
    @apply px-8;
    @apply py-6;
    @apply rounded;
    @apply shadow;

    svg {
        @apply flex-no-shrink;
        @apply h-3;
        @apply w-3;
        @apply ml-4;

        * {
            fill: #22292f;
        }
    }
}
