[data-component="button"] {
    @apply inline-block;
    @apply mb-4;
    @apply px-8;
    @apply py-4;
    @apply rounded-full;
    @apply text-center;
    @apply text-sm;
    @apply text-white;

    transition: background-color 0.1s ease-out;

    &:hover {
        @apply text-white;
    }

    svg {
        @apply h-4;
        @apply fill-current;
        @apply ml-4;
        @apply w-4;
    }
}
