[data-component="link"] {
    @apply flex;
    @apply shadow;
}

[data-component="link__icon"] {
    @apply bg-blue;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply px-4;
    @apply py-6;
    @apply rounded-l;
    @apply text-white;
    @apply w-16;

    svg {
        @apply fill-current;
        @apply h-6;
        @apply w-6;
    }
}

[data-component="link__title"] {
    @apply bg-white;
    @apply flex;
    @apply flex-1;
    @apply items-center;
    @apply justify-between;
    @apply p-6;
    @apply rounded-r;
    @apply text-black;

    p {
        @apply font-bold;
        @apply mb-0;
        @apply uppercase;
    }

    svg {
        @apply flex-no-shrink;
        @apply fill-current;
        @apply h-3;
        @apply w-3;
    }

    &:hover {
        @apply bg-grey-light;
    }
}
