[data-component="menu"] {
    bottom: 0;
    left: -300px;
    position: fixed;
    top: 0;
    transition: left .25s ease-out;
    width: 300px;

    ul {
        @apply m-0;
        @apply p-0;
    }

    li {
        @apply block;
    }

    a {
        @apply block;
        @apply px-6;
        @apply py-4;
        @apply text-white;

        &:hover {
            background-color: rgba( 0, 0, 0, .15 );
        }
    }
}

// Active
[data-component="menu"].open {
    left: 0;
}
