[data-component="service"] {
    @apply bg-white;
    @apply block;
    @apply rounded;
    @apply shadow;
    @apply text-grey-darker;

    transition: all 0.25s ease-out;

    &:hover {
        transform: translateY(-5px);
    }
}

[data-component="service__category"] {
    @apply font-bold;
    @apply py-6;
    @apply px-8;
    @apply rounded-t;
    @apply text-sm;
    @apply text-white;
}
