[data-component="title"] {
    @apply bg-navy;
    @apply flex;
    @apply mb-4;

    @screen lg {
        @apply mb-8;
    }
}

[data-component="title__icon"] {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply px-8;
    @apply rounded-l;
    @apply text-white;

    background-color: rgba( 0, 0, 0, 0.1 );

    @screen lg {
        @apply px-16;
    }

    svg {
        @apply h-8;
        @apply w-8;
        @apply fill-current;

        @screen lg {
            @apply h-24;
            @apply w-24;
        }
    }
}

[data-component="title__text"] {
    @apply flex-1;
    @apply mb-0;
    @apply px-8;
    @apply py-8;
    @apply rounded-r;
    @apply text-white;

    @screen lg {
        @apply py-12;
    }

    @screen xl {
        font-size: 64px;
    }
}
