@font-face {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Panton-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Panton-Bold.woff') format('woff');
}
