.container {
    @apply px-4;
}

%grid {
    display: grid;
    grid-gap: 1rem;
}

[data-grid="two"] {
    @extend %grid;

    @screen md {
        grid-template-columns: repeat(2, 1fr);
    }
}

[data-grid="three"] {
    @extend %grid;

    @screen xl {
        grid-template-columns: repeat(3, 1fr);
    }
}

[data-grid="four"] {
    @extend %grid;

    @screen md {
        grid-template-columns: repeat(2, 1fr);
    }

    @screen xl {
        grid-template-columns: repeat(4, 1fr);
    }
}

[data-grid="sidebar"] {
    @extend %grid;

    @screen lg {
        grid-template-columns: 1fr 2fr;
    }
}
